@using Microsoft.JSInterop

@inject IJSRuntime js

@inject IUserService UserService


<div class="chat-area" onscroll="chatScrolled()">
	<div class="messages-area" id="chatArea">

		@for (int i = 0; i < messages.Count(); i++)
		{
			if (i == 0)
			{
				<mensagem_ class="first">
					<image_ class="message-image" style="background-image: url(../images/@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Image);" title="@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Name">	</image_>
					<content_ class="message-content">
						<name_>Anderson</name_>
						@messages[i].Content
					</content_>
					@if (i == messages.Count() - 1)
					{
						<time_ class="message-time">@messages[i].CreatedAt.Value.ToString("HH:mm")</time_>
					}
				</mensagem_>
			}
			else if (messages[i].Remetent != messages[i - 1].Remetent)
			{
				<mensagem_ class="middle-first">
					<image_ class="message-image" style="background-image: url(../images/@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Image);" title="@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Name">
					</image_>
					<content_ class="message-content">
						@if (_user is not null)
						{
							@if (users.FirstOrDefault(u => u.Id == messages[i].Remetent).Id == _user.Id)
							{
								<name_ class="self">@_user.Name</name_>

							}
							else
							{
								<name_>@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Name</name_>

							}

						}
						else
						{
							<name_>@users.FirstOrDefault(u => u.Id == messages[i].Remetent).Name</name_>
						}
						@messages[i].Content
					</content_>
					@if (i == messages.Count() - 1)
					{
						<time_ class="message-time">@messages[i].CreatedAt.Value.ToString("HH:mm")</time_>
					}
				</mensagem_>
			}
			else if (i == messages.Count() - 1)
			{
				<mensagem_>
					<content_ class="message-content"> @messages[i].Content </content_>
					<time_ class="message-time">@messages[i].CreatedAt.Value.ToString("HH:mm")</time_>
				</mensagem_>
			}
			else if (messages[i].Remetent != messages[i + 1].Remetent)
			{
				<mensagem_>
					<content_ class="message-content">@messages[i].Content</content_>
					<time_ class="message-time">@messages[i].CreatedAt.Value.ToString("HH:mm")</time_>
				</mensagem_>
			}
			else
			{
				<mensagem_>
					<content_ class="message-content">@messages[i].Content</content_>
				</mensagem_>
			}

		}

		<empty></empty>
	</div>
</div>


@code {

	[Parameter]
	public List<Message> messages { get; set; }

	[Parameter]
	public List<User> users { get; set; }

	[Parameter]
	public User _user { get; set; }
}